[submodule "backend"]
	path = backend
	url = /tmp/beacon-spear-backend
[submodule "frontend"]
	path = frontend
	url = /tmp/beacon-spear-frontend
[submodule "edge"]
	path = edge
	url = /tmp/beacon-spear-edge
	branch = main
